<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot">

        <material name="white">
                <color rgba="1 1 1 0.5"/>
        </material>

        <link name="base_link"></link>
        <joint name="chassis_joint" type="fixed">
                <parent link="base_link"/>
                <child link="chassis"/>
                <origin xyz="0 0 0.0384" rpy="0 0 0"/>
        </joint>

        <link name="chassis">
                <visual>
                        <geometry>
                                <box size="0.2 0.112 0.0016"/>
                        </geometry>
                        <material name="white"/>
                </visual>
        </link>        

        <joint name="front_left_wheel_joint" type="continuous">
                <parent link="chassis"/>
                <child link="front_left_wheel"/>
                <origin xyz="0.0814 0.0725 -0.0047" rpy="-${pi/2} 0 0"/>
                <axis xyz="0 0 1"/>
        </joint>

        <link name="front_left_wheel">
                <visual>
                        <geometry>
                                <cylinder radius="0.0337" length="0.0265"/>
                        </geometry>
                        <material name="white"/>
                </visual>
        </link>

        <joint name="rear_left_wheel_joint" type="continuous">
                <parent link="chassis"/>
                <child link="rear_left_wheel"/>
                <origin xyz="-0.0814 0.0725 -0.0047" rpy="-${pi/2} 0 0"/>
                <axis xyz="0 0 1"/>
        </joint>

        <link name="rear_left_wheel">
                <visual>
                        <geometry>
                                <cylinder radius="0.0337" length="0.0265"/>
                        </geometry>
                        <material name="white"/>
                </visual>
        </link>

        <joint name="front_right_wheel_joint" type="continuous">
                <parent link="chassis"/>
                <child link="front_right_wheel"/>
                <origin xyz="0.0814 -0.0725 -0.0047" rpy="${pi/2} 0 0"/>
                <axis xyz="0 0 -1"/>
        </joint>

        <link name="front_right_wheel">
                <visual>
                        <geometry>
                                <cylinder radius="0.0337" length="0.0265"/>
                        </geometry>
                        <material name="white"/>
                </visual>
        </link>

        <joint name="rear_right_wheel_joint" type="continuous">
                <parent link="chassis"/>
                <child link="rear_right_wheel"/>
                <origin xyz="-0.0814 -0.0725 -0.0047" rpy="${pi/2} 0 0"/>
                <axis xyz="0 0 -1"/>
        </joint>

        <link name="rear_right_wheel">
                <visual>
                        <geometry>
                                <cylinder radius="0.0337" length="0.0265"/>
                        </geometry>
                        <material name="white"/>
                </visual>
        </link>

        <joint name="laser_joint" type="fixed">
                <parent link="chassis"/>
                <child link="laser_frame"/>
                <origin xyz="0.0625 0 0.053" rpy="0 0 0"/>
        </joint>

        <link name="laser_frame">
                <visual>
                        <geometry>
                                <cylinder radius="0.0299" length="0.026"/>
                        </geometry>
                        <material name="white"/>
                </visual>
        </link>

        <joint name="controller_joint" type="fixed">
                <parent link="chassis"/>
                <child link="controller_frame"/>
                <origin xyz="-0.0657 0 0.0071" rpy="0 0 0"/>
        </joint>

        <link name="controller_frame">
                <visual>
                        <geometry>
                                <box size="0.06858 0.05334 0.0126"/>
                        </geometry>
                        <material name="white"/>
                </visual>
        </link>

        <joint name="camera_joint" type="fixed">
                <parent link="chassis"/>
                <child link="camera_link"/>
                <origin xyz="0.1 0 0.0208" rpy="0 0 0"/>
        </joint>

        <link name="camera_link">
                <visual>
                        <geometry>
                                <box size="0.007 0.034 0.040"/>
                        </geometry>
                        <material name="white"/>
                </visual>
        </link>

        <joint name="camera_optical_joint" type="fixed">
                <parent link="camera_link"/>
                <child link="camera_link_optical"/>
                <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
        </joint>

        <link name="camera_link_optical"></link>
        
        <joint name="base_footprint_joint" type="fixed">
                <parent link="base_link"/>
                <child link="base_footprint"/>
                <origin xyz="0 0 0" rpy="0 0 0"/>
        </joint>

        <link name="base_footprint">
        </link>
</robot>